
.dashboard {
    -fx-background-color: #EEEEEE;
}

.user_name {
    -fx-font-size: 2.6em;
    -fx-font-family: "Calibri Light";
}

.date_lbl {
    -fx-text-fill: #AAAAAA;
    -fx-font-size: 1.1em;
    -fx-font-family: "Calibri Light";
}

.section_title {
    -fx-font-size: 1.4em;
    -fx-font-family: "Calibri Light";
}

/* Visualização da conta */
.accounts_view {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 10;
    -fx-padding: 10 0 10 0;
    -fx-alignment: center;
    -fx-border-width: 0 1 0 0;
    -fx-spacing: 10;

}

.account {

}

#card1, #card2 {
    -fx-background-radius: 15;
}

.unlock-button1 {
    -fx-background-color: linear-gradient(to right, #1A3384, #2B49B3);
    -fx-min-width: 30px; /* Defina o tamanho mínimo em largura */
    -fx-min-height: 25px; /* Defina o tamanho mínimo em altura */
    -fx-max-width: 30px; /* Defina o tamanho máximo em largura */
    -fx-max-height: 25px; /* Defina o tamanho máximo em altura */
}

.unlock-button2 {
    -fx-background-color: linear-gradient(to right, #919191, #C1C1C1);
    -fx-min-width: 30px; /* Defina o tamanho mínimo em largura */
    -fx-min-height: 25px; /* Defina o tamanho mínimo em altura */
    -fx-max-width: 30px; /* Defina o tamanho máximo em largura */
    -fx-max-height: 25px; /* Defina o tamanho máximo em altura */
}

.unlock-button:hover {
    -fx-cursor: hand;
}

.account VBox {
    -fx-background-color: linear-gradient(to right, #545454, #696969);
}

.account Text {
    -fx-fill: #FFFFFF;
    -fx-font-family: "Calibri Light";
    -fx-font-size: 1.5em;
}

.account FontAwesomeIconView {
    -fx-fill: #FFFFFF;
}

.account_gradient1 {
    -fx-background-color: linear-gradient(to right, #1A3384, #2B49B3);
    -fx-background-radius: 15;
}

.account_gradient2 {
    -fx-background-color: linear-gradient(to right, #919191, #C1C1C1);
    -fx-background-radius: 15;
}

.account_balance {
    -fx-text-fill: #FFFFFF;
    -fx-font-family: Calibri;
    -fx-font-size: 3em;
    -fx-font-weight: bold;
}

.account_number {
    -fx-text-fill: #FFFFFF;
    -fx-font-family: Calibri;
    -fx-font-size: 1.5em;
    -fx-text-alignment: center;
}

/* Visualização das Transações */
.transaction_listview {
    -fx-background-color: #EEEEEE;
    -fx-border-width: 0 0 0 0;
    -fx-border-color: #AAAAAA;
}

.transaction_listview .scroll-bar:vertical {
    -fx-scale-x: 0;
}

.list-cell {
    -fx-background-color: #EEEEEE;
    -fx-padding: 15 0 15 0;
}

/* Enviar dinheiro */
.new_trans_container {
    -fx-background-color: #EEEEEE;
    -fx-padding: 20 10 20 10;
    -fx-spacing: 10;
    -fx-alignment: center_left;
}

.new_transaction_container Label {
    -fx-font-family: "Calibri Light";
    -fx-font-size: 1.3em;
}

.new_transaction_container TextField {
    -fx-pref-height: 40;
    -fx-background-color: #FFFFFF;
    -fx-effect: dropshadow(three-pass-box, #AAAAAA, 3, 0, 0, 3);
}

.new_transaction_container Button {
    -fx-background-color: linear-gradient(to right, #1b211b, #626262);
    -fx-effect: dropshadow(three-pass-box, #AAAAAA, 3, 0, 0, 3);
    -fx-pref-width: 250;
    -fx-font-size: 1.5em;
    -fx-font-family: "Calibri Light";
    -fx-text-fill: #FFFFFF;
}

.new_transaction_container Button:hover {
    -fx-cursor: hand;
}


 {
}